<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>Label</key>
	<string>com.puddletowndesign.update</string>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
		<string>chsh</string>
		<string>-s</string>
		<string>/usr/local/bin/zsh &amp;&amp; /Users/Brent/Documents/Dev/bin/update-configs.sh</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/Users/Brent/Documents/Dev/Logs/launchd-errors.log</string>
	<key>StandardOutPath</key>
	<string>/Users/Brent/Documents/Dev/Logs/launchd.log</string>
	<key>StartInterval</key>
	<integer>3600</integer>
</dict>
</plist>
