<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>Label</key>
	<string>com.puddletowndesign.update</string>
	<key>ProcessType</key>
	<string>Background</string>
	<key>Program</key>
	<string>/Users/Brent/Documents/Dev/bin/update-configs.sh</string>
	<key>StandardErrorPath</key>
	<string>/Users/Brent/Desktop/com.puddletowndesign.update.err</string>
	<key>StandardOutPath</key>
	<string>/Users/Brent/Desktop/com.puddletowndesign.update.out</string>
	<key>StartInterval</key>
	<integer>3600</integer>
	<key>UserName</key>
	<string>Brent</string>
</dict>
</plist>
